*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

.login-form{
   margin-top: 25vh;
}
.hm-dshbd-ttl{
font-size: 26px;
font-weight: 400;
margin: 10px;
padding: 20px 0;
}